<div class="app-menu" style="z-index: -100"  >
  <div class="logo-container"></div>

  <div class="menu-header">
    <h6>{{ menuName }}</h6>
  </div>

  <div class="menu-items">
    <ul class="nav-list">
      <li class="nav-item" *ngFor="let item of menu">
        <a class="nav-link" [routerLink]="['/' + item.path]">
          <!-- <span class="nav-icon">{{ item.icon }} </span>  -->
          <span class="nav-text">{{ item.sessionName }}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="menu-footer">
    <button (click)="logout()" class="btn-logout">Log Out</button>
  </div>
</div>

<div class="menu-overlay" (click)="SidebarHide()"></div>
